APP_NAME=EPAM Project API
APP_ENVIRONMENT=development
DEBUG=false
DATABASE_URL=postgresql+asyncpg://postgres:oiuy4321@localhost:5432/project
REDIS_URL=redis://localhost:6379/0
JWT_SECRET_KEY=c466d5d2014b18dc4572dc7a4317d06c39e2b9d116e98ed1e306ad60c5bba739
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_MINUTES=1440
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=15
